*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #2D2D2D;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1169px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 88px 0 120px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
  position: relative;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 20px;
    padding-bottom: 18px;
  }
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 180px;
  height: 4px;
  background: #FFC72E;
}
@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}

.header {
  background: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .header {
    height: 60px;
    position: initial;
  }
}

.header-inner {
  align-items: center;
  display: flex;
  height: 80px;
}
@media (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header-logo {
  width: 140px;
  height: 43px;
}
.header-logo img {
  display: inline-block;
}
@media (max-width: 767px) {
  .header-logo {
    width: 120px;
  }
}

.header_button {
  margin-left: auto;
}
.header_button:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .header_button {
    display: none;
  }
}
.header_button a {
  display: inline-block;
  width: 220px;
  max-width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #FFC72E;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}

.main {
  background: url(../img/top.png) no-repeat center center/cover;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .main {
    margin-top: 0;
  }
}

.main-inner {
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .main-inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main-title {
  font-size: 42px;
  font-weight: 700;
}
.main-title span {
  color: #FFC72E;
}
@media (max-width: 767px) {
  .main-title {
    font-size: 24px;
  }
}

.link_button {
  margin-top: 52px;
}
.link_button:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .link_button {
    margin-top: 30px;
  }
}
.link_button a {
  display: inline-block;
  width: 480px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #FFC72E;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}
@media (max-width: 767px) {
  .link_button a {
    width: 220px;
    height: 52px;
    line-height: 52px;
    font-size: 13px;
  }
}

.rec {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .rec {
    padding: 40px 0;
  }
}

.rec-container {
  display: flex;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .rec-container {
    display: block;
    margin-top: 30px;
  }
}

.rec-item {
  width: calc(33.3% - 40px);
}
@media (max-width: 767px) {
  .rec-item {
    width: 100%;
  }
}
.rec-item:not(:first-child) {
  margin-left: 60px;
}
@media (max-width: 767px) {
  .rec-item:not(:first-child) {
    margin-top: 30px;
    margin-left: 0;
  }
}

.rec-item-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .rec-item-title {
    font-size: 16px;
  }
}
.rec-item-title span {
  color: #FFC72E;
}

.rec-item-image {
  margin-top: 10px;
}
.rec-text {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .rec-text {
    margin-top: 30px;
    font-size: 13px;
  }
}

.service {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .service {
    padding: 40px 0;
  }
}

.service-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.service-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .service-container {
    display: block;
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .service-item {
    text-align: center;
  }
}
.service-item:not(:first-child) {
  margin-left: 80px;
}
@media (max-width: 767px) {
  .service-item:not(:first-child) {
    margin-top: 40px;
    margin-left: 0;
  }
}

.service-item-image img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
@media (max-width: 767px) {
  .service-item-image img {
    width: 200px;
    height: 200px;
  }
}

.service-item-text {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .service-item-text {
    font-size: 16px;
  }
}

.voice {
  padding: 80px 0;
  background: #FCFAEE;
}
@media (max-width: 767px) {
  .voice {
    padding: 40px 0;
  }
}

.voice-inner {
  width: 980px;
}

.voice-item {
  display: flex;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .voice-item {
    display: block;
    margin-top: 30px;
  }
}

.voice-item-image img {
  width: 380px;
}

.voice-item-box {
  width: calc(100% - 380px);
  margin: auto 0 auto 65px;
}
@media (max-width: 767px) {
  .voice-item-box {
    width: 100%;
    margin: 0;
  }
}

.voice-box-title {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .voice-box-title {
    font-size: 16px;
  }
}

.voice-box-text {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .voice-box-text {
    font-size: 13px;
  }
}

.flow {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .flow {
    padding: 40px 0;
  }
}

.flow-inner {
  width: 980px;
}

.flow-container {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .flow-container {
    margin-top: 30px;
  }
}

.flow-item {
  display: flex;
}
@media (max-width: 767px) {
  .flow-item {
    display: block;
  }
}
.flow-item:not(:first-child) {
  margin-top: 30px;
}

.flow-item-image img {
  width: 320px;
}

.flow-box {
  width: calc(100% - 320px);
  margin: auto 0 auto 40px;
}
@media (max-width: 767px) {
  .flow-box {
    width: 100%;
    margin: 0;
  }
}

.flow-box-title {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .flow-box-title {
    font-size: 16px;
  }
}

.flow-box-text {
  margin-top: 12px;
}
@media (max-width: 767px) {
  .flow-box-text {
    font-size: 13px;
  }
}

.faq {
  padding: 80px 0;
  background: #FCFAEE;
}
@media (max-width: 767px) {
  .faq {
    padding: 40px 0;
  }
}

.faq-inner {
  width: 980px;
}

.faq-container {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .faq-container {
    margin-top: 30px;
  }
}

.faq-item {
  background: #ffffff;
  box-shadow: rgba(20, 20, 20, 0.2) 0px 8px 14px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .faq-item {
    width: 100%;
  }
}
.faq-item:not(:first-child) {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .faq-item:not(:first-child) {
    margin-top: 24px;
  }
}

.faq-title {
  font-weight: 700;
  padding: 20px 28px 16px 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 18px;
}
@media (max-width: 767px) {
  .faq-title {
    font-size: 14px;
    padding: 12px 14px 8px 14px;
  }
}
.faq-title img {
  width: 26px;
}
@media (max-width: 767px) {
  .faq-title img {
    width: 16px;
  }
}

.faq-text {
  font-size: 18px;
  padding: 16px 28px 20px 52px;
}
@media (max-width: 767px) {
  .faq-text {
    font-size: 13px;
    padding: 8px 14px 10px 26px;
  }
}

.contact {
  background: url(../img/contact.png) no-repeat center center/cover;
}

.contact-content {
  padding: 120px 0;
}
@media (max-width: 767px) {
  .contact-content {
    padding: 60px 0;
  }
}

.contact-title {
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-title {
    font-size: 24px;
  }
}

.contact_button {
  text-align: center;
  margin-top: 60px;
}
.contact_button:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .contact_button {
    margin-top: 30px;
  }
}
.contact_button a {
  display: inline-block;
  width: 480px;
  max-width: 100%;
  height: 72px;
  line-height: 72px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #FFC72E;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact_button a {
    width: 220px;
    height: 52px;
    line-height: 52px;
    font-size: 13px;
  }
}

.footer-inner {
  display: flex;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .footer-inner {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer-image {
    text-align: center;
  }
}
.footer-image img {
  width: 180px;
}
@media (max-width: 767px) {
  .footer-image img {
    width: 120px;
  }
}

.footer-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
@media (max-width: 767px) {
  .footer-nav {
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
  }
}
.footer-nav li:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 767px) {
  .footer-nav li:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
.footer-nav li a {
  text-decoration: none;
}

.footer-copy {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .footer-copy {
    margin-top: 30px;
  }
}